*{
margin: 0;
font-family: sans-serif;
}

header {
background-image: url(sport2.jpg);
height: 100vh;
background-size: cover;
}

ul{
	list-style-type: none;
	float: right ;
	margin-top: 25px;

}
ul li {
display: inline-block;
}

ul li a {
	text-decoration: underline;
	color: #fff;
	padding: 3px 20px ;
	border : 5px solid transparent ;
}
ul li a:hover {
	background-color: #fff;
	color: blue  ;
}

ul li.active a{

	background-color: #fff;
	color: #000;
}
.logo img{
	float:left;
	width:100px ;
	height:auto;
}
.main {
	max-width:1200px;

}
.title{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.title h1{

	color: white ;
	text-shadow: 2px 4px black;
	font-size: 70px;
	font-style: italic;
}
.button {
	position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%,-50%);

}

.btn {

	border: 1px solid black ;
	padding:10px 30px;
	color: #fff;
	text-decoration: none;

}

.btn:hover {
background-color: white  ;
	color: black;  

}

.button3 {
	position: absolute;
top: 94%;
left: 50%;
transform: translate(-50%,-50%);

}

.btn3 {

	border: 1px solid  ;
	padding:10px 30px;
	color: #fff;
	text-decoration: none;

}

.btn3:hover {
background-color: white  ;
	color: blue;  

}





section{
background-image: url(img12.jpg);
height: 100vh;
background-size: cover;
}
 

 p{
    font-size: 20px;
 	color: white;
 }
 .button2 {
	position: absolute;
top: 165%;
left:50%;
transform: translate(-50%,-50%);

}

.btn2 {

	border: 1px solid white ;
	padding:10px 30px;
	color: #fff;
	text-decoration: none;}
.btn2:hover {
background-color: white  ;
	color: blue; } 
